<ul  >

    <li>
        <%= link_to "Cadastro de Moedas", moedas_path %>
       
    </li>
 
     <li>
        <%= link_to "Cadastro tipos de mineracao", mining_types_path %>
       
    </li>
     
   
</ul>

